* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    color: #299c42;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(6, 77, 117);
  }

/* Header Styling */
  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    color: rgb(120, 231, 231);
  }

  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    color: rgb(120, 231, 231);
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 10px;
  }
/* End Header */

  header nav ul li a {
    padding: 10px 15px;
  }
/* General Section styles */
  section {
    margin: 15px 15px 15px 15px;
    padding: 100px;
    border-color: black;
    border-style: solid;
  }

  section h2 {
    color: goldenrod;
  }
  /* Ende general */

/* About Me stlyes */
.about-me {
  color: black;
  border-style: solid;
  border:10 10 10 10;
  border-color: black;

}
/* End about me */

/* Work styles */

.work-ex h3 {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
}
.work-ex {
  display: flex;
}

.work-primary {
  display: flex;
  padding: 50px;
}

/* Media Queries */
@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}